@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



.faq-container { 
    position: relative;
    display: flex;
    padding-inline: 15px;
 }

.faq-section{ padding-block: 80px; };






.faq-btn {
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 5px;
  max-width: max-content;
  transition: 0.25s esea;
}

.btn-primary {
    font-size: 1.4rem;
    font-weight: 600;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 10px 10px;
    box-shadow: 6px 6px 0 -1px hsl(0, 0%, 22%);
    transition: 0.25s ease;
    text-decoration: none;
    color: inherit;
    border: 1px solid #39232f;
    cursor: pointer;
    display: block;
    background-color: #a7638b;
    color: #f8f4f1;
}

.btn-primary:is(:hover, :focus-visible) {
    background-color: #39232f, hsl(0, 0%, 22%) ;
    box-shadow: 5px 5px 0 -2px var(--hover-shadow-color);
}

.text-center { text-align: center; }



.grid-list {
  display: grid;
  gap: 20px;
  list-style: none;
}



.img-holder {
    aspect-ratio: 1/1;
    overflow: hidden;
    align-items: center;
}

.img-cover {
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
  }



  .faq .faq-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .faq .title-wrapper {
    background-color: #fff;
    padding: 30px 25px;
    box-shadow: 3px 4px 30px hsla(0, 0%, 53%, 0.1)333;;
  }
  
  .faq .section-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin: 30px;
    color:#39232f;
  }
  
  .faq .section-title span{
    color: #a7638b;
    font-size: 2rem;
    font-weight: 600;
  }

  .faq-card {
    background-color: #e8dee4;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-card .card-action {
    --action-bg: #cfdade ;
    --color: #39232f;
  
    background-color: var(--action-bg);
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    gap: 20px;
    transition: 0.25s ease;
  }
  
  .faq-card .card-action:is(:hover, :focus, .active) {
    --action-bg: #a7638b;
    --color: #f8f4f1;
  }
  
  .faq-card .card-title {
    color: var(--color);
    font-size: 1.2rem;
    transition: 0.25s ease;
  }
  
  .faq-card ion-icon {
    color: var(--color);
    font-size: 15px;
    transition: 0.25s ease;
    --ionicon-stroke-width: 60px;
  }
  
  .faq-card .card-action.active .open,
  .faq-card .card-action .close { display: none; }
  
  .faq-card .card-action .open,
  .faq-card .card-action.active .close { display: block; }
  
  .faq-card .card-content {
    font-size: 1rem;
    padding-inline: 25px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease;
  }
  
  .faq-card .card-content p { margin-block: 15px; }
  
  .faq-card .card-action.active + .card-content { max-height: 500px; }
  