
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Julius+Sans+One&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Syne:wght@400;500;700&display=swap');

*
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




body{
    font-family: Julius Sans One, Roboto, Poppins;
    line-height: 1.7rem;
    font-weight: 400;
    background-color: #fff;
   
    
}

section{
    padding: 0rem 0rem;
    background: #333;
} 

.about-content{
    justify-content: center;
    align-items: center;
    /*background-image: url(./about-background.png);*/
    background-repeat: no-repeat;
    height: 70vh;
    padding: 5% 25%;
    display: block;
    
}

.about-row{
    
    background-position: 50%;
    background-repeat: no-repeat;
    

}

.about-column-1{
    float: left;
    position: relative;
    z-index: 0;
    min-height: 1px;
    mix-blend-mode: unset !important;
}

.about-imagebox{
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
    animation-duration: .2s;
    animation-timing-function: linear;
    text-align: center;
    
}

.about-imagebox .about-image-wrap{
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    vertical-align: baseline;
}

.about-image-wrap img{
    max-height: 604px;
    width: auto;
    position: relative;
    overflow-clip-margin: content-box;
    overflow: clip;
    aspect-ratio: auto 1389 / 1964;
    filter: grayscale(0%);
    transition: 1s;
}

.about-image-wrap img:hover{
    filter: grayscale(100%);
}

.about-column-2{
    position: absolute;
    width: 20%;
    background-color: #fff;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    box-shadow: 2px 1px 0px 16px rgba(255, 255, 255, 0.73);
    transform: translateX(390px) translateY(177px);
    
}

.about-text-1{
    word-wrap: break-word;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    width: 100%;
    text-align: left;
    animation-timing-function: linear;
    animation-duration: .2s;
    
}

@media (min-width: 981px){
    .about-text-1,
    .about-imagebox{
        margin-bottom: 0;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
}

.about-text-inner{
    position: relative;
}

.about-text-inner h2{
    font-size: 25px;
    color: #573c2b;
    line-height: 1.4em;
    text-align: left;
    font-family: Julius-Sans One;
}

.about-text-2{
    text-align: left;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    font-family: Roboto;
    word-wrap: break-word;
    animation-timing-function: linear;
    animation-duration: .2s;
    
}

.about-text-inner p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.7;
    font-weight: 500;

}

.about-button-wraper{
    text-align: left;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

.about-button-1{
    display: inline-block;
    color: #ebe2ce;
    border: #a67257;
    border-radius: 2px;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 600 !important;
    text-transform: uppercase;
    background-color: #a67257;
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    transition: all 0.1s ease 0ms;
    text-decoration: none;
    cursor: pointer;
}

.about-button-1:hover{
    background-color: #fff;
    color:#a67257;
    border-radius: 2px;
    border: 2px solid #a67257;
}