@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.service{
    pading-block-start: calc(60px + 60px);

}

.service-list{
    display: grid;
    gap: 25px;
}


.card {
    box-shadow: 0 2px 2px hsla(0, 0%, 22%, 0.08);
    display: flex;
    transition: 0.25s ease;
  }
  
  .card-md:is(:hover, :focus-within) { box-shadow: 5px 5px 0 hsl(0, 0%, 22%); }
  
  :is(.card-lg, .card-sm):is(:hover, :focus-within) {
    box-shadow: 3px 3px 0 hsl(0, 0%, 22%);
  }
  
  .card,
  .card-media { border: 2px solid hsl(0, 0%, 22%); }
  
  .card-lg { padding: 25px; }
  
  .card-md { padding: 30px; }
  
  .card-sm {
    padding: 10px;
    align-items: center;
    gap: 15px;
  }
  
  
  .card-md {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
 
  
  .card-md .card-media {
    width: 70px;
    height: 70px;
  }
  
  .card-sm .card-media {
    width: 70px;
    height: 70px;
  }
  
  .card-media {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 22%);
    display: grid;
    place-items: center;
    flex-shrink: 0;
  }
  
.card-md .card-media img{
    width: 100%;

}

.card-title{
    margin-block-end: 10px;
}

.card .body-sm{
    color: #39232f;
}



/* ez a Szolgáltatások felirat*/

.section-title{
    margin-block-end:30px;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #a7638b;
}


.container{
    padding-inline: 16px;
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
}


.title-sm{
    font-size: 2.2rem;
    font-weight: 600;
    color: #39232f;
    line-height: 1.2;
}

.body-sm{
    font-size: 1.7rem;
}

.card-container { 
    list-style: none;
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

    .service-list { grid-template-columns: 1fr 1fr; }
  
  }
  
  .btn {
    background: transparent;
    font-size: 1.4rem;
    font-weight: 600;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 10px 10px;
    box-shadow: 6px 6px 0 -1px hsl(0, 0%, 22%);
    transition: 0.25s ease;
    text-decoration: none;
    color: inherit;
    border: 1px solid #39232f;
    cursor: pointer;
    display: block;
    
    
  }
  
  .btn:is(:hover, :focus-visible) {
    background-color: #39232f, hsl(0, 0%, 22%) ;
    box-shadow: 5px 5px 0 -2px var(--hover-shadow-color);
  }
  
  .btn-primary{ color: #39232f; }
 




  /**
   * RESPONSIVE CONTAINER QUERY
   */
  
  .card-container { container-type: inline-size; }
  
  @container (min-width: 500px) {

    .card-md { flex-direction: row; }
  }
  
  
  
  /**
   * RESPONSIVE MEDIA QUERY
   */
  
  @media (min-width: 768px) {
  
    .card-md { padding: 40px; }
  
    .card-sm { padding: 15px; }
  
  }













    













