

.dula-subpage-portfolio-list { list-style: none; }
  

  
  ion-icon { 
    display: block;
    pointer-events: none;
 }
  

  
  .subpagetitle-md { 
    font-size: 2.6rem;
    color: #39232f;
    font-weight: 600;
 }
  .subpagelabel-md { 
    font-size: 1.5rem;
    color: #a7638b;
 }
  
  
  .subpageheadline-md{
    
    font-size: 4rem;
    color: #a7638b;
    font-weight: 700;
    line-height: 1.2;
  }
  
  
  
  .dula-subpage-container { padding-inline: 16px; }

  .dula-subpage-container {
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
    margin-top: 90px;
  }
  
  
  
  
  
  .subpagesection-title {
    margin-block-end: 60px;
    letter-spacing: 3px;
  }
  
  .subpagetext-center { text-align: center; }
  
  .dula-subpage-img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  
  
  
  .dula-subpage-img-holder {
    aspect-ratio: var(--width) / var(--height);
    overflow: hidden;
  }
  
  






/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.dulasubpage {
    background-color: #f8f4f1;
    padding-block-start: calc 60px + 60px;
  }
  
  .dula-subpage-portfolio-list,
  .dula-subpage-portfolio-card { display: grid; }
  
  .dula-subpage-portfolio-list { gap: 50px; }
  
  .dula-subpage-portfolio-card { gap: 25px; }
  
  .dula-subpage-portfolio-card .card-banner {
    position: relative;
    border: 2px solid #d4b8c7;
    box-shadow: 0 0 0 #d4b8c7;
    transition: 0.25s ease;
  }
  
  .dula-subpage-portfolio-card .card-banner:is(:hover, :focus-within) {
    box-shadow: 3px 3px 0 #868485;
  }
  
  .dula-subpage-portfolio-card .dula-subpage-btn-icon {
    position: absolute;
    top: 15px;
    left: 0;
    background-color: #f8f4f1;
    color: #39232f;
    font-size: 2rem;
    padding: 8px;
    border: 2px solid #39232f;
    opacity: 0;
    transition: 0.25s ease;
    will-change: transform;

  }
  
  .dula-subpage-portfolio-card .card-banner:is(:hover, :focus-within) .dula-subpage-btn-icon {
    transform: translateX(15px);
    opacity: 1;
  }
  
  .dula-subpage-portfolio-card .dula-subpage-chip {
    background-color: #e8dee4;
    max-width: max-content;
    color: #a7638b;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 6px 20px;
    border-radius: 100px;
    margin-block-end: 18px;
    display: block;
  }
  
  
  



/*-----------------------------------*\
  #btn.css
\*-----------------------------------*/


  .dula-subpage-btn {
    background-color: #d4b8c7;
    font-size: 1.8rem;
    font-weight: 600;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 10px 10px;
    margin-top:10px;
    transition: 0.25s ease;
    color:#39232f;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dula-subpage-btn:is(:hover, :focus-visible) {
    background: #cfdade;
    color: #a7638b;
    box-shadow: 6px 6px 0 -1px #868485;
    outline-offset: 4px;
  }
  
  
  
  
  





  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    .dula-subpage-portfolio-card {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  
    .dula-subpage-portfolio-list > li:nth-child(2n) .card-banner { order: 1; }
  
    .dula-subpage-portfolio-card > * {
      width: 80%;
      margin-inline: auto;
    }

    
  
  }

  @media (max-width: 900px) {
    .dulasubpage{
      padding-bottom: 40px;
    }
  
    .dula-subpage-portfolio-card .dula-subpage-chip {
          
          font-size: 4rem;
    }

    .subpagetitle-md {
      font-size: 4rem;
      padding-bottom: 5px; 
    }

    .dula-subpage-btn{
      font-size: 3rem;
    }
  }




  

/*-----------------------------------*\
  #MEDIA QUEREIS
\*-----------------------------------*/

  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    .subpageheadline-md { font-size:  4rem; }
  
    .subpagetitle-md { font-size:  4rem; }
  
  
    .dulasubpage { --section-padding: 100px; }
  
    .subpagesection-title { margin-block-end: 40px; }

  }

  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
    

    .subpageheadline-md { font-size: 4rem; }

    .subpagesection-title { margin-block-end: 60px; }
  
  
  }
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    .dula-subpage-container {
      max-width: 1240px;
      width: 100%;
      margin-inline: auto;
    }
  
  }