@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


.consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8dee4;
    margin-top: 70px;
    padding: 2rem 10%;
}

.consultation2{
    
    overflow: hidden;
    background-color: #d4b8c7;
    padding: 2rem 10%;
}

.consultation3{
    
    overflow: hidden;
    background-color: #d4b8c7;
    padding: 2rem 10%;
}

.consultaion-container{
    display: flex;
    padding: 2rem 10%;
    
    /*grid-template-columns:max-content;*/
    /*grid-gap: 20px;*/
    /*max-width: 1500px;*/
    /*padding-left: 80px;*/
    background: #e8dee4;
    /*padding: 35px 15px 15px 0px;*/
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.consultation-image{
    
    margin-left: 40px;
}

.consultaion-container img{
    
    /*width: 30%;*/
    border-radius: 50px;
}

.consultaion-container .text-container{
    
    padding-bottom: 80px;
} 

.consultaion-container .text-container span{
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    color: #a7638b;
} 

.consultaion-container hr{
    width: 25%;
    margin-top: 15px;
    border: 1px solid #a7638b; 
    z-index: 1;  
}

.consultaion-container h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    color: #a7638b;
}

.consultaion-container p{  
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #a7638b;
    line-height: 1.5;
}



.consultation-h4 {
    text-align: center;
    justify-content: center;
    /*position: relative;*/
    display:flex;
    margin-top: 20px;
}

.consultation-h4 h4{
    padding: 1em;
    font-size: 3em;
    font-weight: 600;
    color: #a7638b;
}

.separator-box{
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;    
}

.separator-box .separator{
 
    border-style: solid;
    border-color:#a7638b;
    border-width: 1px;
    
}

.consultation-listbox{
    padding: 2rem 15%;
}

.consultation-listbox .lista ul{
    padding: 30px 0px 20px 0px;
    /*margin-left: 20px;*/  
}

.consultation-listbox .lista li{
    /*padding: 10px 10px 20px 50px;*/
    /*margin-left: 20px;*/
    display: list-item;
    font-weight: 400;
    list-style-type: disc;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #39232f;
}

.consultation-listbox p{
    padding: 1em;
    padding-left: 1.75em;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: #a7638b;
    padding-bottom: 60px;
}

.consultation-dula-title{
    background: #d4b8c7;
    
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: #a7638b;
}

.consultation-dula-title-bottom{
    background: #d4b8c7;
    justify-content: center;
    text-align: center;
    /*padding: 30px;*/
    color: #a7638b;
    padding-bottom: 80px;
}
.consultation-dula-title h2{
    font-size: 4rem;
}

.consultation-bottom{
    background: #d4b8c7;
    color: #a7638b;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
}

.consultation-bottom2{
    
    display: none;
   
}

.consultation-bottom .consultation-dula1-box{
    padding-inline: 5em;
    background-color: #d4b8c7;
}

.consultation-bottom .consultation-dula1-box .consultation-dula-text{
    font-size: 1.8rem;
    max-width: max-content;
    line-height: 3rem;
    font-weight: 400;
}

.consultation-bottom .consultation-dula2-box{
    padding-inline: 5em;
    background-color: #d4b8c7;  
}

.consultation-bottom .consultation-dula2-box .consultation-dula-text{
    font-size: 1.8rem;
    max-width: max-content;
    margin-block-end: 0.25em;
    line-height: 3rem;
    font-weight: 400;
}

.consultation-dula-title-bottom .consultation-dula-title-text{
    font-size: 1.8rem;
    max-width: max-content;
    margin-block-end: 0.25em;
    line-height: 3rem;
    font-weight: 400;
    padding-left: 50px;
}


.consultation-citateBx{
    position: sticky;
    text-align: justify;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../image/water.png);
    /*height: 50vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 200px 20px 200px;
    overflow: hidden;
}

.consultation-citateBx .consultation-citate-text{
    font-size: 1.8rem;
    color: #f4f1f8;
    line-height: 3rem;
    font-style: italic;
    font-weight: 600;
}

.consultation-citateBx .consultation-citate-text h6{
    color: #f8f4f1;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 20px;
    text-align: end;
   
}

.consultation4{
    background:#f8f4f1;
}

.consultation-btn-h2{
    background: #f8f4f1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0px 0px 0px;
    
}

.consultation-btn-h2 h2{
    font-size: 4.5rem;
    color: #39232f;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 10px;
    margin-top: 20px;
}

.consultation-btn-h2 h2 span{
    font-size: 2.5rem;
    font-weight: 600;
    color: #a7638b;
    
    
}

.consultation-btn-box{
    display: flex;
    position: relative;
    background: #f8f4f1;
    height: 20vh;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 70px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.consultation-btn{
    position: relative;
    top: 10;
    left: 10;
    display: block;
    border-radius: 50px;
    background: #a7638b;
    width: 300px;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #f8f4f1;
    font-size: 1.8rem;
    font-weight: 800;
    margin: auto;
}

@media (max-width:990px){

    .consultation-h4 h4{
        font-size: 4rem;
    }
    .consultation-bottom{
        display: none;
    }

    .consultation3{
        display: none;
    }

    .consultation-bottom2{
        background: #d4b8c7;
        color: #a7638b;
        overflow: hidden;
        display: contents;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        font-size: 3rem;
    }

    .consultation-citateBx .consultation-citate-text{
        font-size: 2.8rem;
    }

    .consultation-citateBx{
        padding: 60px 50px 20px 50px;
    }

    .consultation-listbox{
        padding: 2rem 10%;
    }
}

@media (max-width:700px){
    .consultation-citateBx{
        padding: 20px 20px 20px 25px;
    }
    .consultation-bottom .consultation-dula1-box{
        padding-inline: 10px;
    }
    .consultation-bottom .consultation-dula2-box{
        padding-inline: 10px;
    }
    .consultation-btn{
        font-size: 2.5rem;
    }
}

@media (max-width:700px){

    .consultaion-container{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .consultation-btn{
        font-size: 2.5rem;
    }
    .consultation-btn-box{
        padding-bottom: 70px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .consultation-image{
        margin-left: 0px;
    }


}
@media (max-width:450px){

    .consultaion-container h1{
        font-size: 5rem;
    }

    .consultation-listbox .lista li{
        font-size: 3rem;
        line-height: 5rem;
    }

    .consultaion-container p{  
        padding-right: 20px;
        font-size: 3rem;
    }
    
    .consultation-btn{
        font-size: 3.5rem;
    }

    .consultaion-container .text-container{
        padding-left: 20px;
    } 
    
    .consultation-listbox p {
        font-size: 2.8rem;
    }

    .consultation-citateBx{
        padding: 20px 35px 20px 35px;
    }
        

}