.gallery{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
     /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding: 0px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    
    margin-bottom: 3px;
  }

  .picture-gal{
    padding:2px;
    margin:2.5rem 2.2rem;
    box-shadow: 3px 3px 0 -1px #d4d1d2;
    border-radius: 5px;
    
  }

  .picture-gal img{
    width:100%;
    height:100%;
    border-radius: 5px;
    
  }

  .blog-racs-container{
    max-width: 1400px;
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    place-content: center;
    transition: all 0.2s;
}



.blog-racs-box{
    background-color: #d4b8c7;
    height: min-content;
    

}

.blog-racs-box .blog-racs-content{
    padding: 1rem;
}

.fifth{
    margin-top: -5rem;
    grid-column: 3;
}

.second{
    grid-column: 2/2;
    grid-row: 1/3;
}

.fourth{
    margin-top: -3rem;
}
.blog-racs-catagory{
    text-transform: none;
    font-size: 0.9rem;
    color: #868485;
}

.blog-racs-catagory i{
    padding: 0.5rem 1rem;
    color: #868485;
    font-size: 1.2rem;
    text-transform: none;
}

.blog-racs-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.6rem 0;
    color:#a7638b;
}

.blog-racs-description{
    font-size: 1.2rem;
    color: #39232f;
    font-weight: 500;
}

.gaming{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.gaming .blog-racs-img-container{
    flex-basis: 41%;
}

.gaming .blog-racs-text{
    flex-basis: 54%;
}

.blog-racs-img-container{
    overflow:hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.blog-racs-img-container:hover img{
    transform: scale(1.1);
    overflow: hidden;
    transition: all 0.5s;
}

@media (max-width:1199px){
    .blog-racs-container{
        grid-template-columns: 1fr;
        max-width: 1200px;
        width: 80%;
    }

    .second{
        grid-column: initial;
        grid-row: initial;
        flex-direction: column;
        order: 1;
    }

    .second-box-container-one{
        display: flex;
        padding: 1em;
    }

    .second-box-container-one .blog-racs-img-container{
        width: 50%;
    }

    .second-box-container-one .blog-racs-content{
        width: 50%;
    }

    .first{
        order: 2;
    }

    .third{
        order: 3;
    }

    .fourth{
        order: 4;
        margin: 0;
    }

    .fifth{
        order: 5;
        margin: 0;
        grid-column: initial;
    }

    .gaming{
        align-items: flex-start;
    }

    .gaming .blog-racs-img-container{
        flex-basis: 25%;
    }

    .gaming .blog-racs-text{
        flex-basis: 72%;
    }

    .blog-racs-box{
        display: flex;
        justify-content: space-between;

    }

    .blog-racs-img-container{
        width: 65%;

    }
}

@media (max-width:768px){
    .blog-racs-container{
        width: 96%;
    }

    .blog-racs-second-box-container-one{
        flex-direction: column;
        padding: 0;
    }

    .blog-racs-second-box-container-one .blog-racs-img-container{
        width: 100%;
    }

    .blog-racs-second-box-container-one .blog-racs-content{
        width: 100%;
    }

    .blog-racs-box{
        flex-direction: column;
    }

    .blog-racs-img-container{
        width: 100%;
    }

    .blog-racs-content{
        width: 100%;
    }

    .gaming .blog-racs-img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-racs-title{
        font-size: 1.2rem;
    }

    .blog-racs-description{
        font-size: 0.9rem;
    }
}