@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



.faq-container { 
    position: relative;
    display: flex;
    padding-inline: 15px;
    margin-top: 50px;;
 }

.faq-section{ padding-block: 80px; };

.faq-btn-container{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.faq-card-left{
  max-width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.faq-btn {
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 5px;
  align-items: center;
  transition: 0.25s esea;
  height: 50px;
}

.faq-btn-primary {
    font-size: 1.8rem;
    font-weight: 600;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 10px 10px;
    box-shadow: 6px 6px 0 -1px hsl(0, 0%, 22%);
    transition: 0.25s ease;
    text-decoration: none;
    color: inherit;
    border: 1px solid #39232f;
    cursor: pointer;
    display: block;
    background-color: #a7638b;
    color: #f8f4f1;
    align-items: center;
    justify-content: center;
}

.faq-btn-primary:is(:hover, :focus-visible) {
    background-color: #39232f, hsl(0, 0%, 22%) ;
    box-shadow: 5px 5px 0 -2px var(--hover-shadow-color);
}

.text-center { text-align: center; }



.faq-grid-list {
  display: grid;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}




  .faq .faq-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .faq .title-wrapper {
    background-color: #fff;
    padding: 30px 25px;
    box-shadow: 3px 4px 30px hsla(0, 0%, 53%, 0.1)333;;
  }
  
  .faq .section-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin: 30px;
    color:#39232f;
  }
  
  .faq .section-title span{
    color: #a7638b;
    font-size: 2rem;
    font-weight: 600;
  }

  .faq-card {
    background-color: #e8dee4;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-card .card-action {
    --action-bg: #cfdade ;
    --color: #39232f;
  
    background-color: var(--action-bg);
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    gap: 20px;
    transition: 0.25s ease;
  }
  
  .faq-card .card-action:is(:hover, :focus, .active) {
    --action-bg: #a7638b;
    --color: #f8f4f1;
  }
  
  .faq-card .card-title {
    color: var(--color);
    font-size: 1.5rem;
    transition: 0.25s ease;
  }
  
  .faq-card ion-icon {
    color: var(--color);
    font-size: 15px;
    transition: 0.25s ease;
    --ionicon-stroke-width: 60px;
  }
  
  .faq-card .card-action.active .open { display: block; }
  .faq-card .card-action .close { display: none; }
  
  .faq-card .card-action .open { display: block; }

  .faq-card .card-action.active .close { display: none; }
  
  .faq-card .card-content {
    font-size: 1rem;
    padding-inline: 25px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease;
    display: none;
  }
  
  .faq-card .card-content p { 
    margin-block: 5px;
    font-size: 1.5rem;
    color: #960d5f;
  }

  .faq-card .card-content a {
    display: inline;
    color: #39232f;
  }
  
  .faq-card .card-action.active + .card-content {         
    max-height: 1200px;
    display: block;
  
  }

  @media (max-width:700px){

    .faq-section {
      margin-top: 50px;
    }

    .faq .faq-container {
      display: contents;
    }

    .faq-btn-primary{
      
      align-items: center;
    }
  }
  