.impressum{
    background: #f8f4f1;
    margin-top: 90px;
}


.impressum-title{
    padding: 50px;
    text-align: center;
}

.impressum-title h1{
    font-size: 5rem;
    font-weight: 700;
    color: #a7638b;
    letter-spacing: 2px;
}

.impressum-container{
    padding: 2rem 20%;
    color: #39232f;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1px;
}
