@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css');
@import "bekes_dulatrening.css";


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
}

body{
    padding: 0rem 0%;
   
}


.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    font-size: 62.5%;
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}

html::-webkit-scrollbar{
    width: 0rem;
}

html::-webkit-scrollbar-track{
    background-color: #fff;
}

html::-webkit-scrollbar-thumb{
    background-color: #fff9;
}

.home-about{
  display: none;  
}

/*Rólam kezdete*/
@media (max-width: 805px){
    .home-about{
        display: flex;
        align-items: center;
        
        padding: 0px;
        background-color: #d4d1d2;
        margin-top: 70px;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column; 
    }

    .home-about .content p{
        font-size: 2.8rem;
    }
}

.home-about-container-services h1{
    color: #a7638b;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    padding-bottom: 120px;
    font-size: 5rem;
  }

.home-about .image{
    flex: 1 1 41rem;
    padding: 2rem;
    margin: 0;
}

.home-about .image img{
    width: 100%;
}


.home-about .content{
    flex: 1 1 20rem;
    padding: 3rem;
    margin: 0;
    background: #e8dee4;
    background-position: 50%;
}


.home-about .content h1{
    font-size: 5rem;
    color: #39232f;
}

.home-about .content h1 span{
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1.2;
    color: #a7638b;
}

.home-about .content p{
    font-size: 2.8rem;
    padding: 1rem 0;
    line-height: 1.8;
    color: #39232f;
}

.home-about .btn{
    position: relative;
    margin: auto;
    padding: 1.5rem;
    transition: all .2s ease;
    border: none;
    background: none;
}

.home-about .btn::before{
    content: '';
    position: absolute;
    top: 10;
    left: 10;
    display: block;
    border-radius: 50px;
    background: #97bcc7;
    width: 45px;
    height: 45px;
    transition: all .3s ease;
}

.home-about .btn span{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #a7638b;
    text-transform: uppercase;
    padding-left: 25px;
}

.home-about .btn svg{
    position: relative;
    top: 0;
    margin-left: 10px; 
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.home-about .btn:hover:before{
    width: 100%;
    background: #97bcc7;
}

.home-about .btn:hover svg{
    transform: translateX(0);
}

.home-about .btn:active{
    transform: scale(0.95);
}


/*Rólam vége*/

/*Szolgáltatások*/

.home-service{
    text-align: center;
    background: #f8f4f1;
    padding-bottom: 50px;
}

.home-service .service{
    text-align: center;
    padding: 20px;
    
}

.home-service .heading-title{
    font-size: 5rem;
    color: #a7638b;
}


.box-container{
   /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;*/
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.box-container .service-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    margin: 4rem;
    
}

.box-container .service-card:nth-child(odd){
    flex-direction: row;
}

.box-container .service-card:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}


.service-card .service-imageBx{
    left: 25px;
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 1;
    border: 2px solid #a7638b;

}

.box-container .service-card:nth-child(even) .service-imageBx{
    left: -25px;
}

.box-container .service-card .service-imageBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #fff;
    

}
/*
.service-card .service-imageBx img:hover{
    filter: grayscale(50%);
    opacity: 0.5;
}*/

.box-container .service-card .service-contentBx{
    position: relative;
    right: 25px;
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,.3);
}

.box-container .service-card:nth-child(even) .service-contentBx{
    right: -25px;
    padding: 20px 100px 20px 60px;
}


.box-container .service-card .service-contentBx:before{
    content:'';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: -1;
}

.service-contentBx .service-content-title{
    font-size: 3rem;
    color: #a7638b;
    
    
}

.service-content-text{
    margin-top: 10px;
    font-size: 1.5rem;
    color:#39232f
    
}

.service-content-text-4{
    margin-top: 10px;
    font-size: 1.5rem;
    color:#39232f
    
}

.service-card {
    position: relative;
    /*background-color:#d4b8c7 ;*/
    height: 100%;
    padding: 1px 40px 40px;
    transition: 0.5s ease;
  }

  .service-card .card-icon img {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 5px;
  }
  
  .service-card .card-title {
    color: #39232f;
    margin-block: 20px;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
  }
  
  .service-card .card-text { 
    font-size: 1.5rem;
    color: #39232f;
    }
  
  .service-card:is(:hover, :focus-within) {
    /*background-color: #e8dee4;*/
    --content-color: #d5e1df;
    }

.service-card .service-contentBx .service-content-btn{
    display: inline-block;
}

.service-home-btn{
    background-color: #d4b8c7;
    font-size: 1.5rem;
    font-weight: 600;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 10px 10px;
    margin-top:30px;
    transition: 0.25s ease;
    color:#39232f;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    cursor: pointer;
  }
  
  .service-home-btn:is(:hover, :focus-visible) {
    background: #cfdade;
    color: #a7638b;
    box-shadow: 6px 6px 0 -1px #868485;
    outline-offset: 4px;
  }



@media (max-width: 1330px){

    .service-home-btn{
        font-size: 2.5rem;
        justify-content: center;
    }

    .box-container{
        /* display: grid;
         grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
         gap: 2rem;*/
         display: contents;
         
    }

    .service-content-text{
        font-size: 2.8rem;        
    }

    .service-content-text-4{
        font-size: 2.5rem; 
      
    }

    .box-container .service-card .service-contentBx{
        position: relative;
        
       
        min-height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 600px;
        padding: 20px 60px 20px 100px;
    }
    

    .home-service .heading-title{
        font-size: 5rem;
        font-weight: 700;
    }

    .box-container .service-card{
        flex-direction: row;
        margin: 20px 2px;
    }

    
    .box-container .service-card .service-contentBx{
        width: auto;
        height: auto;
        right: 0;
        padding: 10px;
        text-align: center;
    }
    .box-container .service-card .service-contentBx:before{
        top: 0;
        bottom: 0;
    }

    .box-container .service-card:nth-child(even) .service-imageBx{
        left: 0px;
    }

    .box-container .service-card:nth-child(even) .service-contentBx{
        right: 0px;
        padding: 20px;
    }

    .box-container .service-card .service-imageBx{
        width: 200px;
        height: 200px;
        display: none;
    }

    .box-container .service-card .service-imageBx img{
        width: 195px;
        height: 195px;
        object-fit: cover;
        background: #fff;
        
    
    }
}

@media (max-width: 800px) {
    .box-container .service-card .service-contentBx{
        min-width: 440px;
    }
}


@media (max-width: 440px){
    .home-service .heading-title{
        font-size: 4rem;
    }

    .box-container .service-card{
        flex-direction: column;
        max-width: 350px;
        margin: 25px 25px;
    }

   

    .box-container .service-card .service-contentBx{
        position: relative;
        
        width: 0px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 300px; 
   
    }

    .box-container .service-card .service-contentBx:before{
        top: 0;
        bottom: 0;
    }

    .box-container .service-card:nth-child(even) .service-imageBx{
        left: 0px;
    }

    .box-container .service-card:nth-child(even) .service-contentBx{
        right: 0px;
        padding: 30px;
    }



}



/*.box-container .service-card .service-contentBx{
        position: relative;
        
        width: 0px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        
    }
*/
/*szolgáltatások vége*/


/*dulatréning kezdete*/

.dulatreningek {
    background: #d4d1d2;
}


.dula-education-section{
    padding-block: 3rem;
    justify-content: center;
    align-items: center;
    display:flex;    
}

.dula-education-section.dula-education-container{
    padding-inline: 16px;
    
    
}

.dula-education-section .dula-section-title{
    padding-bottom: 50px;
    margin-block: 20px 60px;
    color: #a7638b;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}

.dula-education-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    
    
}
.dula-education-section .dula-education-card{
    
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 9px #868485;
    transition: .5s;
}

.dula-education-card img{
    width: 300px;
    height: 300px;
    border-radius: 2px 2px 120px 0px;
    transition: .5s;
    filter:opacity(1)
    
}

.dula-education-card:hover img{
    filter: opacity(0.5);
}

.dula-education-card:hover{
    transform: translateY(-10px);
}

.dula-education-txt-box{
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.dula-education-txt-box h2{
    font-size: 2rem;
    font-weight: 600;
    color: #39232f;
    text-align: center;
    padding-top: 20px;
}


.dula-education-txt-box .dula-education-btn{
  background-color: #d4b8c7;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: max-content;
  letter-spacing: 2px;
  padding: 10px 10px;
  margin-top:30px;
  transition: 0.25s ease;
  color:#39232f;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  
  

}

.dula-education-txt-box .dula-education-btn:is(:hover, :focus-visible) {
  background: #cfdade;
  color: #a7638b;
  box-shadow: 6px 6px 0 -1px #868485;
  outline-offset: 4px;
}




/*gyakori kérdések a képzésről gomb*/

.dula-education{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4d1d2;
    margin-bottom: 60px;
}

.dula-education .education-faq{
    text-align: center;
    margin: 5rem;
    padding: 0;
    background: #d4d1d2;
}

.dula-education .education-btn{
    background: #d4b8c7;
    font-size: 1.8rem;
    font-weight: 700;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 30px 40px;
    transition: 0.25s ease;
    text-decoration: none;
    color: #39232f;
    border: 1px solid #39232f;
    cursor: pointer;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.dula-education .education-btn:is(:hover, :focus-visible) {
    background: #cfdade;
    color: #a7638b;
    box-shadow: 6px 6px 0 -1px #868485;
}

@media (max-width:1375px){
    .dula-education-box{
        gap: 5rem;
    }
}

@media (max-width:1251px){
    .dula-education-box{
        gap: 1rem;

    }
}

@media (max-width:1150px){
    .dula-education-box{
        display:block;
    }

    .dula-education-section .dula-education-card{
        margin-bottom: 40px;     
    }

    
}

@media (max-width:450px){
    .dula-education-txt-box h2{
        font-size: 3.2rem;
    }

    .dula-education-txt-box .dula-education-btn{
        font-size: 3rem;
    }
}


/* dulaképzés vége*/

/* dulakör start */
.dula-circle{
    background: #97bcc7;
}


.dula-kor-container{
    overflow: hidden;
    background: #97bcc7;
}

.dula-kor-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.dula-kor-left{
    width: 60%;
    margin-right: 2rem;

}

.dula-kor-left h1{
    font-size: 5rem;
    color: #39232f;
    font-weight: 700;
    line-height: 1.5;
    animation: up 1s ease forwards;
    animation-delay: 2s;
    transform: translateY(50px);
    opacity: 0;
}

@keyframes up{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.dula-kor-left p{
    font-size: 1.8rem;
    color: #39232f;
    font-weight: 400;
    line-height: 1.5;
    margin: 3rem 0;
    transform: translateY(50px);
    animation: up 1s ease forwards;
    animation-delay: 2.2s;
    opacity: 0;
}



.dula-kor-btn{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: 1px;
    color: #39232f;
    padding: 10px 10px;
    background-color: #868485;
    margin: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    border-radius: 5px ;
    text-decoration: none;
    align-items: center;
    text-align: center;
    transform: translateY(50px);
    animation: up 1s ease forwards;
    animation-delay: 2.4s;
    opacity: 0;
}

.dula-kor-btn:hover{
    background-color: #868485;
    color: #97bcc7;
    transition: 0.2s ease;
    border: 1px transparent;
}



/*.dula-kor-right{
    width: 50%;
}*/


.dula-kor-content .dula-kor-right .dula-kor-imageBx{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    position: relative;
    pointer-events: none;

}

.dula-kor-content .dula-kor-right .dula-kor-imageBx img{
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    animation: popup 1s ease forwards;
    animation-delay: 4.7s;
    opacity: 0;
}   

@keyframes popup{
    0%{
        clip-path: circle(0% at 50% 50%);
    }
    100%{
        clip-path: circle(50% at 50% 50%);
        opacity: 1;
    }
}

svg{
    position: absolute;
    top: -43.5%;
    left: -123.5%
}

svg circle{
    stroke-dasharray: 1634px;
    stroke-dashoffset: 1634px;
    animation: animate 1.5s ease forwards;
    animation-delay: 3.5s;
    transform: rotate(-90deg);
    transform-origin: center;
}

@keyframes animate{
    0%{
        stroke-dasharray: 1634px;
        stroke-dashoffset: 1634px;
    }
    100%{
        stroke-dasharray: 1634px;
        stroke-dashoffset: 0;
    }
}

@media (max-width: 1100px){
    .dula-circle{
        flex-direction: column;
    }

    .dula-kor-left{
        width: 80%;
        margin-right: 2rem;
    
    }

    .img-sec{
        width: 80%;
    }

    .dula-circle img{
        height: 25rem;
    }
    .dula-circle img:nth-child(1){
        /*transform: rotate(-4deg);*/
        top: 10%;
        left: 25%;
    }
    
    
    .descp-sec{
        width: 80%;
        margin-bottom: 5.rem;
        font-size: 1.6rem;
    }
}
@media (max-width:991px){
    svg{
        display: none;
    }
}

@media (max-width:960px){
    .dula-circle{
        flex-direction: column;
        margin: 1px;
        padding: 1px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .dula-kor-btn{
        font-size: 3rem;
    }

    .dula-circle .dula-kor-container .dula-kor-content{
        flex-direction: column;
        margin: 1px;
        padding: 1px;
    }

    .img-sec{
        width: 80%;
    }

    .dula-circle img{
        height: 25rem;
    }
    .dula-circle img:nth-child(1){
        /*transform: rotate(-4deg);*/
        top: 10%;
        left: 25%;
    }
    
    .dula-kor-left {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 1px;
    }

    
    
    .dula-kor-content .dula-kor-right .dula-kor-imageBx{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .descp-sec{
        width: 80%;
        margin-bottom: 5.rem;
        font-size: 1.6rem;
    }
}

@media (max-width: 640px){
    .dula-circle{
        flex-direction: column;
    }

    .dula-kor-left p{
        font-size: 2.8rem;
        margin:0px;
        text-align: justify;
    }

    .img-sec{
        width: 100%;
    }
    .dula-circle img{
        height: 20rem;
    }
    .dula-circle img:nth-child(1){
        /*transform: rotate(-4deg);*/
        /*top: 10%;*/
        left: 15%;
    }
    
    .descp-sec{
        width: 80%;
        margin-bottom: 5.rem;
        font-size: 1.6rem;
    }
    .descp-sec h2{
        font-size: 3rem;
    }
}

/* dulakör vége */

/*blog kezdete*/

:root {
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
    --cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
  
  li { list-style: none; }
  
  img,
  span,
  data,
  button,

  img { 
    height: auto; 
  }
  
  button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
  
  main {
    font-size: 1.6rem;
    line-height: 1.75;
    overflow: hidden;
  }
  
  
.blog-section { 
    overflow: hidden;
    padding-block: 80px;
    width: 100%;
    background-color: #f8f4f1;
}

.blog-container {
     padding-inline: 12px;
     background-color: #f8f4f1;
}
  
  .btn {
    color: #39232f;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    max-width: max-content;
    min-width: max-content;
    border: 1px solid #a7638b;
    /*padding-top: 30px;*/
  }

  @media (max-width: 560px) {
    .btn { 
        font-size: 2.5rem;
    }
}

  
  .section-subtitle {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 800;
    color: #39232f;
    margin-block-end: 20px;
    letter-spacing: 2px;
  }
  
  .lp-section-title { 
    margin-block-end: 45px;
    color: #a7638b;
    font-size: 5rem;
    line-height: 1;
    font-weight: 700;
 }

 .section-text{
    color: #39232f;
    font-size: 1.8rem;
    line-height: 1.5;
 }
  
  .text-lg {
    font-size: 1.2rem;
    position: absolute;
    color: #39232f;
    right: 40px;
    padding-top: 10px;
  }
  
  .layer-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .slider {
    --slider-items: 1;
    --item-gap: 12px;
  
    margin-block-start: 60px;
    overflow: hidden;
  }
  
  .slider-container {
    position: relative;
    display: flex;
    gap: var(--item-gap);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  }
  
  .slider-item {
    --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
    --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));
  
    min-width: var(--item-width);
    width: var(--item-width);
  }
  
  .slider-control {
    position: relative;
    max-width: max-content;
    padding-block: 8px;
    opacity: 0.5;
  }
  
  .slider-control .line {
    width: 40px;
    height: 3px;
    background-color: #39232f;
  }
  
  .slider-control .arrow {
    position: absolute;
    transform: translateY(-60%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #39232f;
  }
  
  .slider-control.prev .arrow {
    left: 0;
    border-width: 0 0 3px 3px;
  }
  
  .slider-control.next .arrow {
    right: 0;
    border-width: 3px 3px 0 0;
  }
  
  .slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-block-start: 40px;
  }
    
  .slide-service-card {
    position: relative;
    background-color:#d4b8c7 ;
    height: 100%;
    padding: 40px 40px 40px;
    transition: 0.5s ease;
  }

  .slide-service-card .card-icon img {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 5px;
  }
  
  .slide-service-card .card-title {
    color: #39232f;
    margin-block: 20px;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
  }
  
  .slide-service-card .card-text { 
    font-size: 1.5rem;
    color: #39232f;
    }
  
  .slide-service-card:is(:hover, :focus-within) {
    background-color: #e8dee4;
    --content-color: #d5e1df;
    }
    
    
    
@media (max-width: 800px) {
    .blog-section { 
        padding-block: 30px;
        
    }

    .slide-service-card .card-title {
        font-size: 2.5rem;
      }

    .section-text{
        font-size: 2.8rem;
    }

    
}

@media (max-width: 560px) {
    .slide-service-card .card-text { 
        font-size: 2.5rem;
    }
}

/* Blog section end */
  
  /* Feedback */

.feedback{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfdade;
}

.feedback-hero{
    position: relative;
    display: felx;
    margin-top: 40px;
    margin-bottom: 60px;
}
.feedback-title{
    font-size: 5rem;
    font-weight: 700;
    color: #a7638b;
    letter-spacing: 1px;
}

.feedback-slide-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #cfdade;
    padding: 10px 0;
}

.feedback-slide-content{
    margin: 0 4px;
}

.feedback-card-wrapper{
    display: flex;
    margin: 1px;
}

.feedback-card{
    position: relative;
    width: 100%;
    border-radius: 25px;
    background-color: #fff;
    margin: 40px;
}

.feedback-image-content,
.feedback-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.feedback-image-content{
    position: relative;
    row-gap: 15px;
    padding: 0px 0;
}

.feedback-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #a7638b;
    border-radius: 25px 25px 0 25px;
}

.feedback-overlay::before,
.feedback-overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #a7638b;
}

@media (max-width: 405px) {
    .feedback-overlay::before,
    .feedback-overlay::after{
        z-index: -1;
    }
}

.feedback-overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.feedback-card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.feedback-card-image .feedback-card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #a7638b;
}

.feedback-tags{
    display: flex;
    align-items: center;
    padding: 10px;
}

.feedback-tags a{
    display: inline-block;
    padding: 0.5rem;
    color: #a7638b;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: 600;
}

.feedback-name{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #39232f;
}

.feedback-description{
    font-size: 1.5rem;
    color: #39232f;
    text-align: center;
}



.feedback-author{
    font-size: 1.2rem;
    color: #a7638b;
}


.feedback-button{
    border: 1px solid #97bcc7;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: 1px;
    color: #39232f;
    padding: 10px 10px;
    background-color: #97bcc7;
    margin: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    border-radius: 5px ;
}



.feedback-button:hover{
    background-color: #cfdade;
    color: #a7638b;
    border: 1px transparent;
}

.feedback-button-btn{
    margin: 50px;
    text-align: center;
}

.feedback-button-btn .feedback-button-btn1{
    background: #97bcc7;
    color: #39232f;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    text-decoration: none;
}

.feedback-button-btn .feedback-button-btn1:hover{
    background: #cfdade;
    color: #a7638b;
    box-shadow: 6px 6px 0 -1px #868485;
}

@media (max-width: 1122px) { 
    .feedback-card-wrapper{
        display: block;
    }
    
}
@media (max-width: 1105px) {
    .feedback-description{
        font-size: 2.5rem;
    }

    .feedback-tags a{
        padding: 0.5rem;
        font-size: 2.5rem;
    }

    .feedback-author{
        font-size: 2rem;
    }
}
@media (max-width: 800px) {
    .feedback-card{
        width: auto;
    }

    .feedback-button{
        font-size: 2.8rem;
    }
}
/*
@media (max-width:950px){
    .feedback-title{
        font-size: 5rem;
    }

    .feedback-name{
        font-size: 3rem;
    }

    .feedback-button{
        font-size: 2rem;
    }
}
*/
  /* Feedback end */


  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 575px screen
   */
  
  @media (min-width: 575px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { 
      max-width: 570px;
      width: 100%;
      margin-inline: auto;
    }
  
    .slider { --slider-items: 2; }
  
}
  
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  

  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
    .title-wrapper {
      display: flex;
      gap: 10%;
    }
  
    .title-wrapper .section-title { margin-block-end: 0; }
  
    .title-wrapper .section-text { margin-block-start: 40px; }
  
    
  }
  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-3: 7rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
    .title-wrapper { gap: 15%; }
  
    .slider { --slider-items: 3; }

  
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 140px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1140px; }
  
  
}


/*media queries*/

@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

}

@media (max-width:868px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
   

}

/*blog vége*/

/*velemenyek kezdete*/

.velemeny{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5e1df;
}

.slide-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #d5e1df;
    padding: 40px 0;
}

.slide-content{
    margin: 0 40px;
}

.card-wrapper{
    display: flex;
    margin: 10px;

}

.card{
    position: relative;
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
    margin: 40px;
}


.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 14px;
}

.image-content{
    position: relative;
    row-gap: 15px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #a7638b;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #a7638b;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #a7638b;
}

.name{
    font-size: 2rem;
    font-weight: 700;
    color: #39232f;
}

.description{
    font-size: 1.5rem;
    color: #39232f;
    text-align: center;
}

.author{
    font-size: 1.2rem;
    color: #a7638b;
}
@media  (max-width: 560px){
    .author {
        font-size: 2.5rem;
    }
}

.button{
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #39232f;
    padding: 8px 16px;
    background-color: #97bcc7;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background: #d5e1df;
}

@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10px;
    }
}

/*velemenyek vége*/

/*Footer starts*/

.footer{
    background-color: #e8dee4;
    background-size: cover;
    background-position: center;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box a{
    color: #a7638b;
    font-size: 2rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i{
    color: #a7638b;
    padding: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid #777;
    font-size: 2rem;

}

.footer .credit span{
    color: #a7638b;
}

@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }   
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:1000px){

    .dula-education .container{
        flex-wrap: wrap;
    }
}

@media (max-width:500px){

    html{
        font-size: 30%;
    }

}

/*.facebook{
    font-size: 40px;
    text-align: center;
}*/

/*media queries*/
/*only screen and opció lehetséges*/