@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    font-size: 62.5%;
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}

html::-webkit-scrollbar{
    width: 2rem;
}

html::-webkit-scrollbar-track{
    background-color: #fff;
}

html::-webkit-scrollbar-thumb{
    background-color: #fff9;
}

/*Rólam kezdete*/

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    
}

.home-about .image{
    flex: 1 1 41rem;
    padding: 3rem;
    margin: 0;
    padding: 0;
}

.home-about .image img{
    width: 100%;
}


.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    margin: 0;
    background: #e8dee4;
}


.home-about .content h1{
    font-size: 5rem;
    color: #39232f;
}

.home-about .content h1 span{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: #a7638b;
}

.home-about .content p{
    font-size: 1.8rem;
    padding: 1rem 0;
    line-height: 1.8;
    color: #39232f;
}

.home-about .btn{
    position: relative;
    margin: auto;
    padding: 1.5rem;
    transition: all .2s ease;
    border: none;
    background: none;
}

.home-about .btn::before{
    content: '';
    position: absolute;
    top: 10;
    left: 10;
    display: block;
    border-radius: 50px;
    background: #97bcc7;
    width: 45px;
    height: 45px;
    transition: all .3s ease;
}

.home-about .btn span{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #a7638b;
    text-transform: uppercase;
}

.home-about .btn svg{
    position: relative;
    top: 0;
    margin-left: 10px; 
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.home-about .btn:hover:before{
    width: 100%;
    background: #97bcc7;
}

.home-about .btn:hover svg{
    transform: translateX(0);
}

.home-about .btn:active{
    transform: scale(0.95);
}

/*Rólam vége*/


/*Szolgáltatások kezdete*/


.home-service{
    text-align: center;
    background: #e8dee4;
}

.home-service .service{
    text-align: center;
    padding: 20px;
}

.home-service .service h2{
    font-size: 5rem;
    color: #a7638b;
}

.home-service .box-container{
   /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.home-service .box-container .box{
    position: relative;
    min-width: 350px;
    min-height: 480px;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,.3);
    background: #fff;
    transition: 0.5s;
    margin: 10px;
}

.home-service .box-container:hover .box{
    opacity: 0.2;
}

.home-service .box-container .box:hover{
    opacity: 1;
}

.home-service .box-container .box .image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.home-service .box-container .box .image img{
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    object-fit: contain;
    transition: .2s linear;
}

.home-service .box-container .box .content{
    width: 100%;
    height: 80px;
    padding: 2rem;
    align-items: center;
    text-align: center;
}

.home-service .box-container .box .content h3{
    font-size: 2rem;
    color: #a7638b;
    line-height: 2;
    padding: 1rem 0;
}

.home-service .btn{
    position: relative;
    padding: 2rem;
    transition: all .2s ease;
    border: none;
    
}

.home-service .btn span{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #39232f;
    text-transform: uppercase;
}

/*Szolgáltatások vége*/


/*dulaképzés kezdete*/

.dula-education{
    min-height: 80vh;
    background: #97bcc7;
}

.dula-education .education{
    text-align: center;
    padding: 20px;
}

.dula-education .education h3{
    font-size: 5rem;
    color: #a7638b;
}

.dula-education .container{
    position: relative;
    display: flex;
   /* flex-wrap: wrap;*/
    justify-content: space-between;
    margin-top: 10px
}

.dula-education .container .card{
    position: relative;
    margin: 10px;
    width: 400px;
    height: 400px;
}

.dula-education .container .card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.dula-education .container .card .face.face1{
    background: #f8f4f1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;

}

.dula-education .container .card .face.face1 img{
    max-width: 200px;
}

.dula-education .container .card .face.face1 h2{
    margin: 10px 0 0;
    color: #39232f;
    text-align: center;
    font-size: 1.5rem;
}

.dula-education .container .card:hover .face.face1{
    transform: translateY(-100%) rotateX(90deg);
    background: #a7638b;
}


.dula-education .container .card .face.face2{
    background: #f8f4f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.dula-education .container .card:hover .face.face2{
    transform: translateY(0%) rotateX(0deg);
    text-align: center;
}

.dula-education .container .card .face.face2 p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    color: #a7638b;
}

.dula-education .container .card .face.face2 .btn{
    position: relative;
    padding: 2rem;
    transition: all .2s ease;
    border: none;
}

.dula-education .container .card .face.face2 .btn span{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #39232f;
    text-transform: uppercase;
    margin: 10px;
}

/* dulaképzés vége*/

/*Footer starts*/

.footer{
    background-color: #e8dee4;
    background-size: cover;
    background-position: center;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box a{
    color: #a7638b;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i{
    color: #a7638b;
    padding: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid #777;
    font-size: 2rem;

}

.footer .credit span{
    color: #f8f4f1;
}

@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }   
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:1000px){

    .dula-education .container{
        flex-wrap: wrap;
    }
}

@media (max-width:450px){

    html{
        font-size: 30%;
    }

}

/*.facebook{
    font-size: 40px;
    text-align: center;
}*/

/*media queries*/
/*only screen and opció lehetséges*/