@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css');
@import "bekes_dulatrening.css";


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
}


.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    font-size: 62.5%;
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}

html::-webkit-scrollbar{
    width: 2rem;
}

html::-webkit-scrollbar-track{
    background-color: #fff;
}

html::-webkit-scrollbar-thumb{
    background-color: #fff9;
}


/*Rólam kezdete*/

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    background-color: #f8f4f1;
    margin-top: 90px;
    
}

.home-about .image{
    flex: 1 1 41rem;
    padding: 3rem;
    margin: 0;
}

.home-about .image img{
    width: 100%;
}


.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    margin: 0;
    background: #e8dee4;
}


.home-about .content h1{
    font-size: 5rem;
    color: #39232f;
}

.home-about .content h1 span{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: #a7638b;
}

.home-about .content p{
    font-size: 1.8rem;
    padding: 1rem 0;
    line-height: 1.8;
    color: #39232f;
}

.home-about .btn{
    position: relative;
    margin: auto;
    padding: 1.5rem;
    transition: all .2s ease;
    border: none;
    background: none;
}

.home-about .btn::before{
    content: '';
    position: absolute;
    top: 10;
    left: 10;
    display: block;
    border-radius: 50px;
    background: #97bcc7;
    width: 45px;
    height: 45px;
    transition: all .3s ease;
}

.home-about .btn span{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #a7638b;
    text-transform: uppercase;
    padding-left: 25px;
}

.home-about .btn svg{
    position: relative;
    top: 0;
    margin-left: 10px; 
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.home-about .btn:hover:before{
    width: 100%;
    background: #97bcc7;
}

.home-about .btn:hover svg{
    transform: translateX(0);
}

.home-about .btn:active{
    transform: scale(0.95);
}

/*Rólam vége*/


/*Szolgáltatások kezdete*/


.home-service{
    text-align: center;
    background: #e8dee4;
}

.home-service .service{
    text-align: center;
    padding: 20px;
}

.home-service .service h2{
    font-size: 5rem;
    color: #a7638b;
}

.home-service .box-container{
   /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.home-service .box-container .box{
    position: relative;
    min-width: 350px;
    min-height: 480px;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,.3);
    background: #fff;
    transition: 0.5s;
    margin: 10px;
}

.home-service .box-container:hover .box{
    opacity: 0.2;
}

.home-service .box-container .box:hover{
    opacity: 1;
}

.home-service .box-container .box .image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.home-service .box-container .box .image img{
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    object-fit: contain;
    transition: .2s linear;
}

.home-service .box-container .box .content{
    width: 100%;
    height: 80px;
    padding: 2rem;
    align-items: center;
    text-align: center;
}

.home-service .box-container .box .content h3{
    font-size: 2rem;
    color: #a7638b;
    line-height: 2;
    padding: 1rem 0;
}

.home-service .btn{
    position: relative;
    padding: 2rem;
    transition: all .2s ease;
    border: none;
    
}

.home-service .btn span{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #39232f;
    text-transform: uppercase;
}

/*Szolgáltatások vége*/


/*dulatréning kezdete*/

.dula-education{
    /*min-height: 80vh;
    background: #97bcc7;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dula-education .education{
    text-align: center;
    padding: 0;
    margin: 0;
}

.dula-education .education h3{
    font-size: 5rem;
    letter-spacing: 2px;
    color: #a7638b;
}

.dula-section{
    background: #f8f4f1;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.dula-section .image{
    position: relative;
    background: #97bcc7;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.dula-section .image .imageBx{
    background: #f8f4f1;
}

.dula-section .image  .container-left{
    position: relative;
    width: 40%;
 
}

.dula-section .image .container-right{
    position: relative;
    background: #97bcc7;
    width: 40%;
    justify-content: space-between;
    padding: 20px;
    margin-top: 0;
}

.dula-section .image .container-right .card{
    position: relative;
    width: 500px;
    height: 300px;
}

.dula-section .image .container-right .card .face{
    position: absolute;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    transition: 0.5s;
}

.dula-section .image .container-right .card .face.face1{
    background: #e8dee4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}
.dula-section .image .container-right .card .face.face1 img{
    max-width: 200px;

}
.dula-section .image .container-right .card .face.face1 h2{
    margin: 10px 0 0;
    padding-bottom: 20px;
    color: #39232f;
    text-align: center;
    font-size: 1.5rem;
}
.dula-section .image .container-right .card:hover .face.face1{
    transform: translateY(-100%) rotateX(90deg);
    background: #a7638b;
}

.dula-section .image .container-right .card .face.face2{
    background: #f8f4f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.dula-section .image .container-right .card:hover .face.face2{
    transform: translateY(0%) rotateX(0deg);
    text-align: center;
}

.dula-section .image .container-right .card .face.face2 p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    color: #39232f;
}
.dula-section .image .container-right .card .face.face2 .btn{
    position: relative;
    padding: 2rem;
    transition: all .2s ease;
    border: none;
}

.dula-section .image .container-right .card .face.face2 .btn span{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: #a7638b;
    text-transform: uppercase;
    margin: 10px;
}

@media (max-width:877px){
    .image-content,
    .card-content{
        padding: 30px 0px;
    }
}

@media (min-width: 640px) and (max-width:1000px){
    .dula-section{
        flex-direction: column;
    }
    .container-left{
        display: none;
    }
}

@media (max-width: 639px){
    .dula-section{
        flex-direction: column;
    }
    .container-left{
        display: none;
    }
    .dula-section .image .container-right{
        width:100%
    }
    .dula-section .image .container-right .card{
        position: relative;
        width: 400px;
        height: 250px;
    }
}

@media (max-width: 540px){
    .dula-section .image .container-right .card{
        position: relative;
        width:200px;
        height: 250px;
    }
}

/* dulaképzés vége*/

/*blog kezdete*/

:root {
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
    --cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
  
  li { list-style: none; }
  
  img,
  span,
  data,
  button,

  img { 
    height: auto; 
  }
  
  button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
  
  main {
    font-size: 1.6rem;
    line-height: 1.75;
    overflow: hidden;
  }
  
  
.blog-section { 
    overflow: hidden;
    padding-block: 100px;
    width: 100%;
    background-color: #868485;
}

.blog-container {
     padding-inline: 12px;
     background-color: #868485;
}
  
  .btn {
    color: #39232f;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    max-width: max-content;
    min-width: max-content;
    padding-top: 30px;
    
  }
  
  .section-subtitle {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    color: #39232f;
    margin-block-end: 20px;
    letter-spacing: 2px;
  }
  
  .lp-section-title { 
    margin-block-end: 45px;
    color: #f8f4f1;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
 }

 .section-text{
    color: #39232f;
    font-size: 1.6rem;
    line-height: 1.5;
 }
  
  .text-lg {
    font-size: 1.2rem;
    position: absolute;
    color: #39232f;
    right: 40px;
    padding-top: 10px;
  }
  
  .layer-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .slider {
    --slider-items: 1;
    --item-gap: 12px;
  
    margin-block-start: 60px;
    overflow: hidden;
  }
  
  .slider-container {
    position: relative;
    display: flex;
    gap: var(--item-gap);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  }
  
  .slider-item {
    --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
    --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));
  
    min-width: var(--item-width);
    width: var(--item-width);
  }
  
  .slider-control {
    position: relative;
    max-width: max-content;
    padding-block: 8px;
    opacity: 0.5;
  }
  
  .slider-control .line {
    width: 30px;
    height: 1px;
    background-color: #39232f;
  }
  
  .slider-control .arrow {
    position: absolute;
    transform: translateY(-60%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #39232f;
  }
  
  .slider-control.prev .arrow {
    left: 0;
    border-width: 0 0 1px 1px;
  }
  
  .slider-control.next .arrow {
    right: 0;
    border-width: 1px 1px 0 0;
  }
  
  .slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-block-start: 40px;
  }
    
  .service-card {
    position: relative;
    background-color: #d5e1df;
    height: 100%;
    padding: 10px 40px 40px;
    transition: 0.5s ease;
  }

  .service-card .card-icon img {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 5px;
  }
  
  .service-card .card-title {
    color: #39232f;
    margin-block: 20px;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
  }
  
  .service-card .card-text { 
    font-size: 1.5rem;
    color: #39232f;
    }
  
  .service-card:is(:hover, :focus-within) {
    background-color: #97bcc7;
    --content-color: #d5e1df;
    }
  
  /* Feedback */

.feedback{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5e1df;
}

.feedback-hero{
    position: relative;
    display: felx;
}
.feedback-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: #a7638b;
    letter-spacing: 1px;
}

.feedback-slide-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #d5e1df;
    padding: 40px 0;
}

.feedback-slide-content{
    margin: 0 40px;
}

.feedback-card-wrapper{
    display: flex;
    margin: 10px;
}

.feedback-card{
    position: relative;
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
    margin: 40px;
}

.feedback-image-content,
.feedback-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.feedback-image-content{
    position: relative;
    row-gap: 15px;
    padding: 25px 0;
}

.feedback-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #a7638b;
    border-radius: 25px 25px 0 25px;
}

.feedback-overlay::before,
.feedback-overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #a7638b;
}

.feedback-overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.feedback-card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.feedback-card-image .feedback-card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #a7638b;
}

.feedback-tags{
    display: flex;
    align-items: center;
    padding: 10px;
}

.feedback-tags a{
    display: inline-block;
    padding: 0.5rem;
    color: #a7638b;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 0.5rem;
}

.feedback-name{
    font-size: 2rem;
    font-weight: 700;
    color: #39232f;
}

.feedback-description{
    font-size: 1.5rem;
    color: #39232f;
    text-align: center;
}

.feedback-author{
    font-size: 1.2rem;
    color: #a7638b;
}

.feedback-button{
    border: 1px solid #97bcc7;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: 1px;
    color: #39232f;
    padding: 10px 10px;
    background-color: #97bcc7;
    margin: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    border-radius: 5px ;
}

.feedback-button:hover{
    background-color: #cfdade;
    color: #a7638b;
    border: 1px transparent;
}

.feedback-button-btn{
    margin: 0 auto;
    text-align: center;
}

.feedback-button-btn .feedback-button-btn1{
    background: #97bcc7;
    color: #39232f;
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    text-decoration: none;
}

.feedback-button-btn .feedback-button-btn1:hover{
    background: #cfdade;
    color: #a7638b;
    box-shadow: 6px 6px 0 -1px #868485;
}

@media (max-width: 1122px) { 
    .feedback-card-wrapper{
        display: block;
    }
}

  /* Feedback end */


  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 575px screen
   */
  
  @media (min-width: 575px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { 
      max-width: 570px;
      width: 100%;
      margin-inline: auto;
    }
  
    .slider { --slider-items: 2; }
  
}
  
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  

  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
    .title-wrapper {
      display: flex;
      gap: 10%;
    }
  
    .title-wrapper .section-title { margin-block-end: 0; }
  
    .title-wrapper .section-text { margin-block-start: 40px; }
  
   
  }
  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-3: 7rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
    .title-wrapper { gap: 15%; }
  
    .slider { --slider-items: 3; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 140px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1140px; }
  
  
}


/*media queries*/

@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

}

@media (max-width:868px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

/*blog vége*/

/*velemenyek kezdete*/

.velemeny{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5e1df;
}

.slide-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #d5e1df;
    padding: 40px 0;
}

.slide-content{
    margin: 0 40px;
}

.card-wrapper{
    display: flex;
    margin: 10px;

}

.card{
    position: relative;
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
    margin: 40px;
}


.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 14px;
}

.image-content{
    position: relative;
    row-gap: 15px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #a7638b;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #a7638b;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #a7638b;
}

.name{
    font-size: 2rem;
    font-weight: 700;
    color: #39232f;
}

.description{
    font-size: 1.5rem;
    color: #39232f;
    text-align: center;
}

.author{
    font-size: 1.2rem;
    color: #a7638b;
}

.button{
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #39232f;
    padding: 8px 16px;
    background-color: #97bcc7;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background: #d5e1df;
}

@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10px;
    }
}

/*velemenyek vége*/

/*Footer starts*/

.footer{
    background-color: #e8dee4;
    background-size: cover;
    background-position: center;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box a{
    color: #a7638b;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i{
    color: #a7638b;
    padding: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid #777;
    font-size: 2rem;

}

.footer .credit span{
    color: #a7638b;
}

@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }   
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:1000px){

    .dula-education .container{
        flex-wrap: wrap;
    }
}

@media (max-width:450px){

    html{
        font-size: 30%;
    }

}

/*.facebook{
    font-size: 40px;
    text-align: center;
}*/

/*media queries*/
/*only screen and opció lehetséges*/