@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*
.service{
  background: #f8f4f1;
}

.service-list{
    display: grid;
    gap: 25px;
}

.services-card {
    box-shadow: 0 2px 2px #d4b8c7;
    display: flex;
    transition: 0.25s ease;
  }
  
  .card-md:is(:hover, :focus-within) { box-shadow: 5px 5px 0 #868485; }
  
  :is(.card-lg, .card-sm):is(:hover, :focus-within) {
    box-shadow: 3px 3px 0 #39232f;
  }
  
  .services-card,
  .card-media { border: 2px solid #a7638b; }
  
  .card-lg { padding: 25px; }
  
  .card-md { padding: 30px; }
  
  .card-sm {
    padding: 10px;
    align-items: center;
    gap: 15px;
  }
  
  
  .card-md {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    max-width:600px;
    height: 300px;
    
  }
 
  
  .card-md .card-media {
    width: 90px;
    height: 90px;
  }
  
  .card-sm .card-media {
    width: 70px;
    height: 70px;
  }
  
  .card-media {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 22%);
    display: grid;
    place-items: center;
    flex-shrink: 0;
  }
  
.card-md .card-media img{
    width: 100%;

}

.card-title{
    margin-block-end: 10px;
}

.services-card .body-sm{
    color: #39232f;
}
/* ez a Szolgáltatások felirat*/
/*
.section-title{
    margin-block-end:30px;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #a7638b;
}

.container-services{
  margin-top: 150px;
}

.container-services h1{
  color: #a7638b;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  padding-bottom: 120px;
  font-size: 5rem;
}

.container{
    padding-inline: 16px;
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
    
}

.title-sm{
    font-size: 3rem;
    font-weight: 600;
    color: #39232f;
    line-height: 1.2;
}

.body-sm{
    font-size: 1.7rem;
}

.card-container { 
    list-style: none;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */
/*
@media (min-width: 768px) {

    .service-list { grid-template-columns: 1fr 1fr; }
  
  }
  
  .services-btn {
    background: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 10px 10px;
    box-shadow: 6px 6px 0 -1px #a7638b;
    transition: 0.25s ease;
    text-decoration: none;
    color: inherit;
    border: 2px solid #a7638b;
    cursor: pointer;
    display: block;
    
    
    
  }
  
  .services-btn:is(:hover, :focus-visible) {
    background-color: #39232f, hsl(0, 0%, 22%) ;
    box-shadow: 5px 5px 0 -2px var(--hover-shadow-color);
  }
  
  .btn-primary{ color: #a7638b; }
 




  /**
   * RESPONSIVE CONTAINER QUERY
   */
  /*
  .card-container { container-type: inline-size; }
  
  @container (min-width: 500px) {

    .card-md { flex-direction: row; }
  }
  
  
  
  /**
   * RESPONSIVE MEDIA QUERY
   */
  /*
  @media (min-width: 768px) {
  
    .card-md { padding: 40px; }
  
    .card-sm { padding: 15px; }
  
  }


  /* new */