.slider {
    --slider-items: 1;
    --item-gap: 12px;
  
    margin-block-start: 60px;
    overflow: hidden;
  }
  
  .slider-container {
    position: relative;
    display: flex;
    gap: var(--item-gap);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  }
  
  .slider-item {
    --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
    --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));
  
    min-width: var(--item-width);
    width: var(--item-width);
  }
  
  .slider-control {
    position: relative;
    max-width: max-content;
    padding-block: 8px;
    opacity: 0.5;
  }
  
  .slider-control .line {
    width: 30px;
    height: 1px;
    background-color: #39232f;
  }
  
  .slider-control .arrow {
    position: absolute;
    transform: translateY(-60%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #39232f;
  }
  
  .slider-control.prev .arrow {
    left: 0;
    border-width: 0 0 1px 1px;
  }
  
  .slider-control.next .arrow {
    right: 0;
    border-width: 1px 1px 0 0;
  }
  
  .slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-block-start: 40px;
  }
  
  
  .service-card {
    position: relative;
    background-color: #d76610;
    height: 100%;
    padding: 10px 40px 40px;
    transition: 0.5s ease;
  }
  
  

  .service-card .card-icon img {
    object-fit: cover;
    height: auto;
    width: 100%;
   
  }
  
  .service-card .card-title {
    color: #39232f;
    margin-block: 20px;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;

  }
  
  .service-card .card-text { 
    font-size: 1.5rem;
    color: #39232f;
}
  
  
  .service-card:is(:hover, :focus-within) {
    background-color: #d4b8c7;
    --content-color: #d4b8c7;
  }