@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.szulfel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8dee4; 
    position: relative;
    margin-top: 90px; 
}

.szulfel-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.szulfel .szulfel-container .szulfel-col-left{
    position: relative;
    width: 60%;
    padding-right: 50px;
}

.szulfel .szulfel-container .szulfel-col-left .szulfel-text{
    font-size: 3.5em;
    font-weight: 800;
}

.szulfel .szulfel-container .szulfel-col-left .szulfel-text h1{
    font-size: 4rem;
    font-weight: 800;
    color: #a7638b;
}

.szulfel .szulfel-container .szulfel-col-left .szulfel-text span{
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    color: #a7638b;
}

.szulfel .szulfel-container .szulfel-col-left .szulfel-text h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: #39232f;
    padding-top: 20px;
    padding-bottom: 20px;
}

.szulfel-container hr{
    width: 25%;
    margin-top: 15px;
    border: 1px solid #a7638b; 
    z-index: 1;  
}

.szulfel .szulfel-container .szulfel-col-left .szulfel-text p{
    font-size: 1.8rem;
    font-weight: 400;
    text-align: justify;
    color: #a7638b;
    line-height: 1.5;
}


.szulfel .szulfel-container .szulfel-col-right{
    position: relative;
    width: 40%;
}

.szulfel .szulfel-container .szulfel-col-right .szulfel-imgBx{
    position: relative;
    width: 100%;
    height: 100%;
}
.szulfel-container .szulfel-col-right .szulfel-imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.szulfel-container .szulfel-text-container{
    width: 100%;
    padding-left: 80px;
    padding-bottom: 80px;
} 

.szulfel-container .szulfel-text-container span{
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    color: #a7638b;
} 

.szulfel-container-bottom{
    background: #e8dee4;
}

.szulfel-container-bottom p{
    color: #a7638b;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.szulfel-help{
    background: #f8f4f1;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.szulfel-help h3{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #39232f;
    padding-top: 20px;
    padding-bottom: 20px;
}

.szulfel-help p{
    color: #39232f;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.szulfel-list{
    background: url(../image/hatter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.szulfel-listbox{
    width: 80%;
    /*padding: 35px 15px 15px 15px;*/
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background: #f8f4f1;
}

.szulfel-list-image img{
    position: relative;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.szulfel-h4{
    text-align: center;
    justify-content: center;
    /*position: relative;*/
    display:flex;
}

.szulfel-h4 h4{
    padding: 1em;
    font-size: 3em;
    font-weight: 600;
    color: #a7638b;
}

.szulfel-listbox .szulfel-lista li{
    display: list-item;
    font-weight: 400;
    list-style-type: disc;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #39232f;
    
}

.szulfel-bottom-section{
    background: #d4b8c7;
}

.szulfel-bottom{
    background: #d4b8c7;
    color: #a7638b;
    display: flex;
}

.szulfel-bottom-box{
    background-color: #d4b8c7;
    padding: 20px;
}

.szulfel-bottom .szulfel-bottom-box .szulfel-bottom-text{
    font-size: 2.5rem;
    max-width: max-content;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
}

.szulfel-btn-section{
    background:#f8f4f1;
}

.szulfel-btn-box{
    background: #f8f4f1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 0px 0px;
}

.szulfel-btn-box h2{
    font-size: 3rem;
    color: #39232f;
    font-weight: 700;
    line-height: 4rem;
}

.szulfel-btn-box h2 span{
    font-size: 2rem;
    font-weight: 600;
    color: #a7638b;
}

.szulfel-btn-btn{
    display: flex;
    position: relative;
    background: #f8f4f1;
    height: 20vh;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 70px;
}

.szulfel-btn{
    position: relative;
    top: 10;
    left: 10;
    display: block;
    border-radius: 50px;
    background: #a7638b;
    width: 300px;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #f8f4f1;
    font-size: 1.8rem;
    font-weight: 800;
    margin: auto;
}